p{
    color:white;
}
h5{
    color: black;
}
#id{
    margin-top: 2%;
    width:90%;
    border: solid;
    border-radius: 5px;
    border-color: #bc9e9e;
    margin-left: auto;
    margin-right: auto;
}

img{
    margin-top: 2%;
}