<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products and Orders
    </ion-title>
    <ion-button shape="round" fill="outline" routerLink="/owner/owner-orders" slot="end"> Invoices </ion-button>
    <ion-button shape="round" fill="outline" routerLink="/owner/all-orders" slot="end"> All Orders </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label color="warning"> Select Supplier: </ion-label>
  <ion-select [(ngModel)]="selectedSupplier" (ionChange)="filterProducts($event)">
    <ion-select-option value="all" ></ion-select-option>
    <ion-select-option *ngFor="let supplier of suppliers" [value]="supplier.name">{{supplier.name}}</ion-select-option>
  </ion-select>
  </ion-item>

  <ion-card *ngFor="let product of products">

    <ion-card-header>
      <ion-card-title>{{product.name | titlecase}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <img src="{{product.image}}" alt="product image" width="150px">
      </ion-item>

      <ion-item>
        <ion-label>
        {{product.description| titlecase}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Price: {{product.price}} BHD
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Available Quantity: {{product.quantity}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Supplier: {{product.supplier | titlecase}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Last Ordered: {{product.category}}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="product.quantity <= product.threshold">
        <ion-label>
          <ion-text color="danger">
            Warning: Quantity is below threshold.
          </ion-text>
        </ion-label>
        <ion-button fill="clear" routerLink="/owner/place-order/{{product.name}}" slot="end"> Order more? </ion-button>
      </ion-item>

      <ion-button routerLink="/owner/place-order/{{product.name}}"> Order More </ion-button>
      <ion-button routerLink="/modify-product/{{product.name}}"> Modify </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
