p{
    color:white;
}
#card{
    background-color: #f4f1f1;
}
h3{
    color:black;
    font-weight: bold;
}
h5{
    color:black;
    font-weight: bold;
}
h1{
    color:black;
}
h2{
    color:black;
    font-weight: bold;
}