#toolbar{
    color: white;}
    #input{
        border:solid;
        border-radius: 5px;
        border-color:rgb(141, 121, 96);
        width: 90%;
        margin-top: 5px;
    }
    p{
        color:white;
    }
    
    