<ion-header>
  <ion-toolbar color="danger-tint">
    <div align="center"><ion-title>Log In</ion-title></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" style="margin: 15px;">
    <img id="logo" height="200px" src="assets\logo.png">
  </div>

  <div id="all"  align="center">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input placeholder="Enter email here" [(ngModel)]="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input placeholder="Enter password here" [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </div>
  <br>
  <div align="center" >
    <ion-button (click)="login()">Sign In</ion-button>
  </div>
  <ion-button routerLink="/register" fill="clear" color="warning" expand="block"> Don't have an account? Sign Up</ion-button>



</ion-content>
