<ion-header>
  <ion-toolbar color="new">
    <ion-title align="center"><p>Modify Product</p></ion-title>
    <ion-button routerLink="/owner/tabs/tab3" slot="start" fill="clear" color="primary">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Discount:</ion-label>
      <ion-input [(ngModel)]="product.discount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Selling Price:</ion-label>
      <ion-input [(ngModel)]="product.sellPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Threshold Quantity:</ion-label>
      <ion-input [(ngModel)]="product.threshold"></ion-input>
    </ion-item>
<div align="center">
  <ion-button color="submit" (click)="updateProduct()">Update</ion-button>
    <ion-button color="dark" routerLink="/owner/tabs/tab3" slot="start" >
      Cancel
    </ion-button>
  </div>
  </ion-list>

</ion-content>
