<ion-header>
  <ion-toolbar>
    <ion-title>Modify Product</ion-title>
    <ion-button routerLink="/owner/tabs/tab3" slot="start" fill="clear" color="primary">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Discount:</ion-label>
      <ion-input [(ngModel)]="product.discount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Selling Price:</ion-label>
      <ion-input [(ngModel)]="product.sellPrice"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hold Quantity:</ion-label>
      <ion-input [(ngModel)]="product.threshold"></ion-input>
    </ion-item>

  <ion-button (click)="updateProduct()">Update</ion-button>
    <ion-button routerLink="/owner/tabs/tab3" slot="start" color="danger">
      Cancel
    </ion-button>
  </ion-list>

</ion-content>
