<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/owner/tabs/tab3" slot="start" fill="clear" color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Cold Store Invoices</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngFor="let order of this.coldStoreDataService.orders | async">
    <div *ngIf="order.status=='accepted'">
    <ion-card-header>
      <ion-label> {{order.title}}</ion-label>
      <ion-item *ngIf="order.favorite">
        <ion-icon name="heart" color="danger" (click)="fav(order.id)"></ion-icon>
      </ion-item>
      <ion-item *ngIf="!order.favorite">
        <ion-icon name="heart" (click)="fav(order.id)"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-label> Supplier Name: {{order.supplier}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let date of order.date; let i=index">
          <ion-label> Order {{i+1}}: {{date}} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-label> Quantity: {{order.totalQuantity}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label> Price: {{order.totalPrice}}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label> Status: {{order.status}}</ion-label>
    </ion-card-content>
      <ion-card-content *ngIf="order.favorite">
        <ion-label color="warning"> Glad you loved it <3 </ion-label>
        <ion-button fill="clear" (click)="reOrder(order.id)"> Re-Order?</ion-button>
      </ion-card-content>
    </div>

  </ion-card>

</ion-content>
