p{
    color:white;
}
#card{
    background-color: #f4f1f1;
}
#id{
    margin-top: 2%;
    width:97%;
    border: solid;
    border-radius: 5px;
    border-color: #bc9e9e;
    margin-left: auto;
    margin-right: auto;
}
#work{
    border: solid;
    border-radius: 5px;
    border-color: #bc9e9e;
    background-color: #f4f1f1;
}