<ion-header>
  <ion-toolbar color="new">
    <ion-title align="center"><p>Add Product</p></ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label position="floating"> Name</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Price</ion-label>
    <ion-input type="number" [(ngModel)]="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Description</ion-label>
    <ion-input type="text" [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Category</ion-label>
    <ion-input type="text" [(ngModel)]="category"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Image</ion-label>
    <ion-input type="text" [(ngModel)]="image"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Items/Cartoon</ion-label>
    <ion-input type="number" [(ngModel)]="perCartoon"></ion-input>
  </ion-item>


</ion-list>
<ion-button color="submit" (click)="addProduct()">Add Product</ion-button>
<ion-button color="dark" routerLink="/supplier/tabs/tab1">Cancel</ion-button>

<ion-content>

</ion-content>
