<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/owner/tabs/tab1" slot="start" fill="clear" color="primary">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>All Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segChoice">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="accepted">
      <ion-label>Accepted</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>

  </ion-segment>

    <ion-card *ngFor="let order of this.coldStoreDataService.orders | async">
      <div *ngIf="segChoice == order.status || segChoice=='all'" >
        <ion-card-header>
          <ion-label> {{order.title}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label> Supplier Name: {{order.supplier}}</ion-label>
        </ion-card-content>
        <ion-card-content>
          <ion-list>
            <ion-list-header>Dates: </ion-list-header>
            <ion-item *ngFor="let date of order.date; let i=index">
              <p> Order {{i+1}}: {{date}} </p>
            </ion-item>
          </ion-list>
        </ion-card-content>
        <ion-card-content>
          <ion-label> Quantity: {{order.totalQuantity}}</ion-label>
        </ion-card-content>
        <ion-card-content>
          <ion-label> Price: {{order.totalPrice}}</ion-label>
        </ion-card-content>
        <ion-card-content>
          <ion-label> Status: {{order.status}}</ion-label>
        </ion-card-content>
        <ion-card-content *ngIf="order.status=='accepted' && order.favorite">
          <ion-button color="warning" fill="clear" (click)="reOrder(order.id)"> </ion-button>
        </ion-card-content>
        <ion-card-content *ngIf="order.status=='pending'">
          <ion-button color="warning" fill="clear" (click)="cancelOrder(order.id)"> </ion-button>
        </ion-card-content>

      </div>

    </ion-card>




</ion-content>
