<ion-header>
  <ion-toolbar color="new">
    <ion-button routerLink="/owner/tabs/tab1" slot="start" fill="clear" color="primary">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title align="center"><p>All Orders</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segChoice">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="accepted">
      <ion-label>Accepted</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rejected">
      <ion-label>Rejected</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>

  </ion-segment>

    <ion-card id="card" *ngFor="let order of this.coldStoreDataService.orders | async">
      <div *ngIf="segChoice == order.status || segChoice=='all'" >
      <ion-card-header> {{order.title}}</ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label>Product Name: {{order.name}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Supplier Name: {{order.supplier}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Total Quantity: {{order.totalQuantity}}</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Last Ordered Date: {{order.date[order.date.length-1]}}</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label *ngIf="order.status=='rejected'"><ion-note color="danger"> {{order.status| titlecase}}</ion-note> </ion-label>
            <ion-label *ngIf="order.status=='pending'"><ion-note color="warning"> {{order.status| titlecase}}</ion-note> </ion-label>
            <ion-label *ngIf="order.status=='accepted'"><ion-note color="success"> {{order.status| titlecase}}</ion-note> </ion-label>
          </ion-item>
          <ion-item *ngIf="order.status=='pending'">
            <ion-button (click)="cancelOrder(order.id)" color="danger" fill="outline" slot="start">Cancel Order</ion-button>
          </ion-item>

        </ion-list>

      </div>

    </ion-card>




</ion-content>
