<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar routerLink="/profile">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <div align="center"><ion-title>SUPPLIERS</ion-title></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search"></ion-searchbar>
  <ion-card *ngFor="let product of this.coldStoreDataService.products | async">
    <div *ngIf="this.coldStoreDataService.loggedEmail == product.supplierEmail">
    <ion-card-header>
      <ion-card-title routerLink="/product-details/{{product.name}}">{{product.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <img src="{{product.image}}" height="250"/>
      </ion-item>
      <ion-item>
        <ion-label>Description: {{product.description}} </ion-label>
      </ion-item>

    </ion-card-content>
    </div>
  </ion-card>
  <ion-fab-button routerLink="/add-product" color="primary" slot="fixed">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>



</ion-content>
