<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SUPPLIERS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h1>{{this.coldStoreDataService.loggedName | titlecase}}'s Products:</h1>

  <ion-card *ngFor="let product of this.coldStoreDataService.products | async">
    <div *ngIf="this.coldStoreDataService.loggedEmail == product.supplierEmail">
    <ion-card-header>
      <ion-card-title routerLink="/product-details/{{product.name}}">{{product.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
      <img src="{{product.image}}" height="250"/>
      </ion-item>
      <ion-item>
        <ion-label>Description: {{product.description}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Price: {{product.price}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-button routerLink="/product-details/{{product.name}}">Edit</ion-button>
      </ion-item>

    </ion-card-content>
    </div>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/supplier/add-product" color="warning">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>



</ion-content>
