#proPic{
    width: 40%;
    height: 30%;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

Info{
    text-align: center;
    width: 90%;

}
p{
    color:white;
}