<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/{{this.coldStoreDataService.loggedRole.toLowerCase()}}/tabs/tab1" slot="start" fill="clear" color="primary">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-img [src]="this.user.image"></ion-img>
  <ion-list>
    <ion-item>
      <ion-label>name</ion-label>
      <ion-input [(ngModel)]="this.user.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>email</ion-label>
      <ion-input [(ngModel)]="this.user.email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-input [(ngModel)]="this.user.role" type="text"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button (click)="updateUser()">Update Information</ion-button>
  <ion-button color="danger" (click)="deleteUser()">Delete User</ion-button>

</ion-content>
