<ion-app>
  <ion-menu side="start" contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/profile" routerDirection="forward">
            <ion-avatar routerLink="/profile">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>
              <h2>{{this.coldStoreDataService.loggedName}}</h2>

              <p>View your profile</p>
            </ion-label>
          </ion-item>

          <div *ngIf="this.coldStoreDataService.loggedRole == 'owner'">
            <ion-item>
              <ion-button fill="clear" routerLink="/owner/owner-orders" routerDirection="forward">
                Invoices
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-button fill="clear" routerLink="/owner/all-orders" routerDirection="forward">
                All Orders
              </ion-button>
            </ion-item>

          </div>

          <div *ngIf="this.coldStoreDataService.loggedRole == 'supplier'">
            <ion-item>
              <ion-button fill="clear" routerLink="/supplier/add-product">
                Add New Product
              </ion-button>
            </ion-item>
          </div>
          <ion-item>
            <ion-button fill="clear" color="danger" (click)="this.coldStoreDataService.logOut()">Logout</ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
