<ion-header>
  <ion-toolbar color="new">
    <ion-title align="center"><P>{{product.name | titlecase}} details</P></ion-title>
    <ion-button routerLink="/supplier/tabs/tab1" slot="start" fill="clear" color="primary">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-title><h2>{{product.name}}</h2></ion-title>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="product.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input type="number" [(ngModel)]="product.price"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>Description</ion-label>
        <ion-input type="text" [(ngModel)]="product.description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-input type="text" [(ngModel)]="product.category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Image</ion-label>
        <ion-input type="text" [(ngModel)]="product.image"></ion-input>
      </ion-item>

  </ion-list>
  <ion-button expand="block" color="submit" (click)="updateProduct()"><p>Update Product</p></ion-button>
  <ion-button expand="block"  color="dark" (click)="deleteProduct()">Delete Product</ion-button>



</ion-content>
