<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/owner/tabs/tab3" slot="start" fill="clear" color="primary">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Place Order</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Order {{product.name}}</h1>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Number of Cartoons: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input type="number" [(ngModel)]="numCartoons"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total Quantity: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label color="warning">  {{numCartoons * product.perCartoon}}  </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total Price: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
     <ion-label color="warning">  {{numCartoons * product.perCartoon * product.price}} BHD </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


</ion-grid>
  <ion-button (click)="placeOrder()">Place Order</ion-button>
  <ion-button color="danger" routerLink="/owner/tabs/tab3">Cancel </ion-button>

</ion-content>
