<ion-header>
  <ion-toolbar color="new">
    <ion-button routerLink="/owner/tabs/tab3" slot="start" fill="clear" color="primary">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title align="center"><p>Place Order</p></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="name">
  <h1>Order {{product.name}}</h1>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Number of Cartoons: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-input type="number" [(ngModel)]="numCartoons"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total Quantity: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label color="warning">  {{numCartoons * product.perCartoon}}  </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total Price: </ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
     <ion-label color="warning">  {{numCartoons * product.perCartoon * product.price}} BHD </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>


</ion-grid>
<div align="center">
  <ion-button color="submit" (click)="placeOrder()">Place Order</ion-button>
  <ion-button color="dark" routerLink="/owner/tabs/tab3">Cancel </ion-button>
</div>
</ion-content>
