<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="tab1" >
      <ion-icon color="brown" name="stats-chart-outline"></ion-icon>
      <ion-label><p>Statistics</p></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" >
      <ion-icon color="brown" name="alarm"></ion-icon>
      <ion-label><p>Shifts</p></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon color="brown" name="cube"></ion-icon>
      <ion-label><p>Orders</p></ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
